@import "tailwindcss";

:root {
	--important: hsl(0 0% 100%);
	--important-accent: hsl(238.23 48% 40%);
	
	--primary: hsl(0, 0%, 0%);
	--primary-fill: hsl(0, 0, 100%);
	--primary-accent: hsl(0, 0%, 33%);
	
	--secondary: hsl(0, 0%, 75%);
	--secondary-fill: hsl(224 43% 22%);
	--secondary-accent: hsl(229, 29%, 47%);
	
	--tertiary: hsl(0, 0%, 75%);
	--tertiary-fill: hsl(224 43% 22%);
	--tertiary-accent: hsl(229, 29%, 47%);
}

.dark {
	--important: hsl(0 0% 100%);
	--important-accent: hsl(238.23 48% 40%);
	
	--primary: hsl(240, 4.9%, 83.9%);
	--primary-fill: hsl(220.5 45.7% 15.9%);
	--primary-accent: hsl(229.2 100% 68.4%);
	
	--secondary: hsl(0 0 68);
	--secondary-fill: hsl(0 0% 2%);
	--secondary-accent: hsl(199 81.3 42);
	
	--tertiary: hsl(0 0 53);
	--tertiary-fill: hsl(223.3 12.7% 27.8%);
	--tertiary-accent: hsl(229, 29%, 47%);
}
	
@theme {
	--color-c0: var(--important);
	--color-c0-accent: var(--important-accent);
	
	--color-c1: var(--primary);
	--color-c1-fill: var(--primary-fill);
	--color-c1-accent: var(--primary-accent);
	
	--color-c2: var(--secondary);
	--color-c2-fill: var(--secondary-fill);
	--color-c2-accent: var(--secondary-accent);
	
	--color-c3: var(--tertiary);
	--color-c3-fill: var(--tertiary-fill);
	--color-c3-accent: var(--tertiary-accent);

	--inset-shadow-md: inset 0 0 5px var(--tw-inset-shadow-color);
}
*::-webkit-scrollbar {
	@apply w-2;
}
*::-webkit-scrollbar-thumb {
	@apply bg-c3;
}
*::-webkit-scrollbar-track {
	@apply bg-c3-fill my-2;
}
* {
	@apply box-border;
}
html, body, #root {
	@apply h-full w-full overflow-hidden;
}

summary {
	@apply cursor-pointer relative
}
summary::before {
	@apply content-[''] border-c3 absolute top-0 bottom-0 -left-4 w-2 h-2 my-auto border-b border-r -rotate-45 transition-transform ease-in-out duration-200
}
details[open] > summary::before {
	@apply rotate-45
}
summary::marker, summary::-webkit-details-marker {
	@apply hidden
}

@media print {
	:root {
		--important: black;
		--important-accent: hsl(238.23 48% 40%);
		
		--primary: rgb(26, 26, 26);
		--primary-fill: white;
		--primary-accent: hsl(229.2 100% 68.4%);
		
		--secondary: rgb(43, 43, 43);
		--secondary-fill: white;
		--secondary-accent: hsl(199 81.3 42);
		
		--tertiary: rgb(70, 70, 70);
		--tertiary-fill: white;
		--tertiary-accent: hsl(229, 29%, 47%);
	}
}
